int-connected-factory-master/Source_Code/Node_RED_Visual_Inspection/Node_Red_Rasp_pi_1.json
[{"id":"7f5040e8.757d2","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a124a51.67ca358","type":"tab","label":"Get Pictures","disabled":false,"info":""},{"id":"e0c6af96.66427","type":"tab","label":"Visual Recognition","disabled":false,"info":""},{"id":"8ac380e4.53f32","type":"mqtt-broker","z":"","name":"","broker":"9.236.65.160","port":"1883","tls":"","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d5572089.286bb","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"19200","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"713f4b2.07e24b4","type":"mqtt-broker","z":"","name":"","broker":"ai_i5","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7fb59f5c.628ee","type":"wiotp-credentials","z":"","name":"Win7CC Device","org":"o6nno2","devType":"Windows7GW","devId":"Win7CC"},{"id":"2917d4a4.39ee2c","type":"wiotp-credentials","z":"","name":"Win7CC Device","org":"o6nno2","devType":"Windows7GW","devId":"Win7CC"},{"id":"9193d38e.d1d28","type":"wiotp-credentials","z":"","name":"Win7CC Device","org":"o6nno2","devType":"Windows7GW","devId":"Win7CC"},{"id":"588f83c0.bf218c","type":"mqtt-broker","z":"","name":"","broker":"9.236.65.160","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"84f4da9c.4ce7b8","type":"serial-port","z":"","serialport":"COM5","serialbaud":"19200","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":";","responsetimeout":"10000"},{"id":"59084b0b.8df044","type":"serial-port","z":"","serialport":"COM12","serialbaud":"19200","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"f08bfa5a.fd7e48","type":"serial-port","z":"","serialport":"COM11","serialbaud":"19200","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":";","responsetimeout":"10000"},{"id":"d6eb48fe.fa6f58","type":"ui_base","z":"7f5040e8.757d2","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"aa65bc29.a6e94","type":"ui_tab","z":"7f5040e8.757d2","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"755dfeba.ff51f","type":"ui_tab","z":"7f5040e8.757d2","name":"Angular UI templates","icon":"dashboard"},{"id":"b4b40402.327308","type":"ui_tab","z":"7f5040e8.757d2","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"7bbbc8bc.3b1668","type":"ui_group","z":"7f5040e8.757d2","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"7efd756.761368c","type":"ui_group","z":"7f5040e8.757d2","name":"Steuerung","tab":"","order":1,"disp":true,"width":"9"},{"id":"119502dc.70b12d","type":"ui_group","z":"7f5040e8.757d2","name":"Meldungen","tab":"","order":8,"disp":true,"width":"12"},{"id":"c2ecf1a9.69714","type":"ui_group","z":"7f5040e8.757d2","name":"Maschinen Status","tab":"","order":6,"disp":true,"width":"4"},{"id":"278cfa88.628826","type":"ui_group","z":"7f5040e8.757d2","name":"Steuerung","tab":"","order":1,"disp":true,"width":"9"},{"id":"8daa1748.2ff558","type":"ui_group","z":"7f5040e8.757d2","name":"Meldungen","tab":"","order":8,"disp":true,"width":"12"},{"id":"31e10338.5d967c","type":"ui_group","z":"7f5040e8.757d2","name":"Maschinen Status","tab":"","order":6,"disp":true,"width":"4"},{"id":"a28ac83d.e079f8","type":"ui_group","z":"7f5040e8.757d2","name":"Messages","tab":"","order":4,"disp":true,"width":"9","collapse":false},{"id":"4a4d60d7.bd5cd","type":"ui_group","z":"7f5040e8.757d2","name":"Live Data","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"dafcf6c2.1e85e8","type":"ui_group","z":"7f5040e8.757d2","name":"Produktions- und Lieferzusagen","tab":"","order":7,"disp":true,"width":"12"},{"id":"e3df8ae6.f8c9a8","type":"ui_group","z":"7f5040e8.757d2","name":"Vakuumsauggreifer","tab":"","order":4,"disp":true,"width":"4"},{"id":"e8ae67a3.315fe8","type":"ui_group","z":"7f5040e8.757d2","name":"Default","tab":"","disp":true,"width":"6"},{"id":"28624646.fefaba","type":"ui_group","z":"7f5040e8.757d2","name":"Group","tab":"","order":null,"disp":true,"width":"14","collapse":false},{"id":"96af02ad.2fd74","type":"ui_group","z":"7f5040e8.757d2","name":"Default","tab":"d9da70e0.f7f24","disp":true,"width":"10","collapse":false},{"id":"8202017e.0f416","type":"ui_group","z":"7f5040e8.757d2","name":"Tables","tab":"8c2a01e9.e8371","order":8,"disp":true,"width":"6"},{"id":"ad4210b4.8de77","type":"ui_group","z":"7f5040e8.757d2","name":"Test","tab":"","disp":true,"width":"6","collapse":false},{"id":"ddf4b5bd.687358","type":"ui_group","z":"7f5040e8.757d2","name":"Default","tab":"2d19415c.be60be","disp":true,"width":"6","collapse":false},{"id":"15f2fefa.4f04a1","type":"ui_group","z":"7f5040e8.757d2","name":"Steuerung","tab":"","order":1,"disp":true,"width":"9"},{"id":"22da6fd6.95a6b","type":"ui_group","z":"7f5040e8.757d2","name":"Meldungen","tab":"","order":8,"disp":true,"width":"12"},{"id":"3517d005.499d9","type":"ui_group","z":"7f5040e8.757d2","name":"Maschinen Status","tab":"","order":6,"disp":true,"width":"4"},{"id":"504d1a8f.b11044","type":"ui_group","z":"7f5040e8.757d2","name":"Steuerung","tab":"","order":1,"disp":true,"width":"9"},{"id":"9630a3e7.3e87","type":"ui_group","z":"7f5040e8.757d2","name":"Meldungen","tab":"","order":8,"disp":true,"width":"12"},{"id":"271be7c3.a55f78","type":"ui_group","z":"7f5040e8.757d2","name":"Maschinen Status","tab":"","order":6,"disp":true,"width":"4"},{"id":"a97ca831.05ec68","type":"ui_group","z":"7f5040e8.757d2","name":"Workpiece detected","tab":"","order":4,"disp":true,"width":"4","collapse":false},{"id":"93fbae3b.a551f","type":"ui_group","z":"7f5040e8.757d2","name":"Status","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"dfd627ca.c2a318","type":"ui_group","z":"7f5040e8.757d2","name":"Produktions- und Lieferzusagen","tab":"","order":6,"disp":true,"width":"12"},{"id":"f4928571.89c2b8","type":"ui_group","z":"7f5040e8.757d2","name":"Vakuumsauggreifer","tab":"","order":2,"disp":true,"width":"5","collapse":false},{"id":"79a138a6.517dc8","type":"ui_group","z":"7f5040e8.757d2","name":"Test","tab":"","disp":true,"width":"6"},{"id":"5abd2daf.c2f0c4","type":"ui_group","z":"7f5040e8.757d2","name":"Sensors","tab":"","order":1,"disp":true,"width":"5","collapse":false},{"id":"c5612be0.be2db8","type":"ui_group","z":"7f5040e8.757d2","name":"Command_Window","tab":"","order":4,"disp":true,"width":"7","collapse":false},{"id":"dc85b4a2.397368","type":"ui_group","z":"7f5040e8.757d2","name":"Status","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"9f5c7f0d.d27c9","type":"ui_group","z":"7f5040e8.757d2","name":"Processing Station","tab":"","order":2,"disp":true,"width":"5","collapse":false},{"id":"3a538f6a.7938d","type":"ui_group","z":"7f5040e8.757d2","name":"Image","tab":"","disp":true,"width":"9","collapse":false},{"id":"db8dd0a7.8df69","type":"ui_group","z":"7f5040e8.757d2","name":"Plant","tab":"","order":6,"disp":true,"width":"6","collapse":false},{"id":"8630d4d0.57c6d8","type":"ui_group","z":"7f5040e8.757d2","name":"Vakkumsauggreifer","tab":"","order":7,"disp":true,"width":"6","collapse":false},{"id":"5abeec0e.acce44","type":"ui_group","z":"7f5040e8.757d2","name":"Hochregallager Status","tab":"","order":8,"disp":true,"width":"6","collapse":false},{"id":"410c9cc4.e02404","type":"ui_spacer","z":"7f5040e8.757d2","name":"spacer","group":"f9d39173.f737b","order":3,"width":1,"height":1},{"id":"a72dc979.91bde8","type":"ui_spacer","z":"7f5040e8.757d2","name":"spacer","group":"f9d39173.f737b","order":6,"width":1,"height":1},{"id":"7dced338.621c8c","type":"ui_spacer","z":"7f5040e8.757d2","name":"spacer","group":"f9d39173.f737b","order":9,"width":1,"height":1},{"id":"48ee2524.d1b5dc","type":"ui_spacer","z":"7f5040e8.757d2","name":"spacer","group":"f9d39173.f737b","order":12,"width":1,"height":1},{"id":"493ac8f.8ffa238","type":"ui_spacer","z":"7f5040e8.757d2","name":"spacer","group":"b650b1fa.38d38","order":1,"width":1,"height":1},{"id":"f05ed8d7.322e88","type":"ui_spacer","z":"7f5040e8.757d2","name":"spacer","group":"bab580c4.14172","order":6,"width":1,"height":1},{"id":"3085d589.61313a","type":"ui_spacer","z":"7f5040e8.757d2","name":"spacer","group":"bab580c4.14172","order":3,"width":1,"height":1},{"id":"5f178540.3ab87c","type":"ui_spacer","z":"7f5040e8.757d2","name":"spacer","group":"bab580c4.14172","order":9,"width":1,"height":1},{"id":"7257be3c.195ae","type":"ui_spacer","z":"7f5040e8.757d2","name":"spacer","group":"bab580c4.14172","order":12,"width":1,"height":1},{"id":"a97e4508.d35318","type":"ui_spacer","z":"7f5040e8.757d2","name":"spacer","group":"bab580c4.14172","order":21,"width":1,"height":1},{"id":"90250c96.890f2","type":"ui_spacer","z":"7f5040e8.757d2","name":"spacer","group":"bab580c4.14172","order":18,"width":1,"height":1},{"id":"d6d7c3df.4255d","type":"ui_spacer","z":"7f5040e8.757d2","name":"spacer","group":"bab580c4.14172","order":15,"width":1,"height":1},{"id":"a84d19dd.d79e98","type":"ui_spacer","z":"7f5040e8.757d2","name":"spacer","group":"bab580c4.14172","order":33,"width":1,"height":1},{"id":"79197c0f.8e1954","type":"ui_spacer","z":"7f5040e8.757d2","name":"spacer","group":"bab580c4.14172","order":30,"width":1,"height":1},{"id":"3ce0d7dc.2cd498","type":"ui_spacer","z":"7f5040e8.757d2","name":"spacer","group":"bab580c4.14172","order":27,"width":1,"height":1},{"id":"b26ad9ef.7436b8","type":"ui_spacer","z":"7f5040e8.757d2","name":"spacer","group":"bab580c4.14172","order":24,"width":1,"height":1},{"id":"ff3c9247.664d1","type":"ui_spacer","z":"7f5040e8.757d2","name":"spacer","group":"5194cad.fd7e634","order":3,"width":1,"height":1},{"id":"a0e5160.0eed7e8","type":"ui_spacer","z":"7f5040e8.757d2","name":"spacer","group":"5194cad.fd7e634","order":6,"width":1,"height":1},{"id":"ca9aaa7f.858d48","type":"ui_spacer","z":"7f5040e8.757d2","name":"spacer","group":"5194cad.fd7e634","order":9,"width":1,"height":1},{"id":"d563f62c.1976e8","type":"ui_spacer","z":"7f5040e8.757d2","name":"spacer","group":"5194cad.fd7e634","order":12,"width":1,"height":1},{"id":"5dc63485.2107fc","type":"ui_spacer","z":"7f5040e8.757d2","name":"spacer","group":"95188b93.c17868","order":3,"width":1,"height":1},{"id":"c490b098.a5dc3","type":"ui_spacer","z":"7f5040e8.757d2","name":"spacer","group":"95188b93.c17868","order":6,"width":1,"height":1},{"id":"acdf6e6b.666e6","type":"ui_spacer","z":"7f5040e8.757d2","name":"spacer","group":"95188b93.c17868","order":9,"width":1,"height":1},{"id":"49d42843.edb148","type":"ui_spacer","z":"7f5040e8.757d2","name":"spacer","group":"95188b93.c17868","order":15,"width":1,"height":1},{"id":"ef4bfa14.925158","type":"ui_spacer","z":"7f5040e8.757d2","name":"spacer","group":"95188b93.c17868","order":12,"width":1,"height":1},{"id":"6db1f77e.232908","type":"ibmiot","z":"7f5040e8.757d2","name":"IoT Platform","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"9f8354e.40d01a8","type":"ibmiot","z":"7f5040e8.757d2","name":"test","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"3a449b8.73f2e64","type":"ibmiot","z":"7f5040e8.757d2","name":"IoT Platform","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"b7e38432.5330f8","type":"ibmiot","z":"7f5040e8.757d2","name":"test","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"e9687aa0.068ef8","type":"ibmiot","z":"7f5040e8.757d2","name":"IoT_Platform_Muich","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"7085920d.8ef23c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"3ac14a28.5b44a6","type":"ui_group","z":"","name":"Default","tab":"7085920d.8ef23c","disp":true,"width":"7","collapse":false},{"id":"c97c2403.9064d8","type":"ibmiot","z":"","name":"IoT_Platform","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"eb670abd.597288","type":"cos-config","z":"","apiKeyId":"9f912fcd1acd8828c05e863addf7db214942cebf8e0ad50c","location":"us-geo","ibmAuthEndpoint":"https://iam.ng.bluemix.net/oidc/token","endpoint":"s3-api.us-geo.objectstorage.softlayer.net","serviceInstanceId":"fc3b9e56dfdb455ba7915e0b81c0887c","hmac":false,"accesskeyid":"","accesskey":"","name":"Visual_Inspection"},{"id":"ea93d1d9.76112","type":"file in","z":"e0c6af96.66427","name":"get file","filename":"/home/pi/Pictures/image.jpg","format":"","sendError":true,"x":310,"y":480,"wires":[["ac2613e7.7461","8c1a5bdf.87a3d8"]]},{"id":"3903eea1.29a192","type":"inject","z":"e0c6af96.66427","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":250,"y":180,"wires":[["83a15901.3245a8"]]},{"id":"73a80992.a21ec8","type":"watch","z":"e0c6af96.66427","name":"Monitor For New Picture to send","files":"/home/pi/Pictures/image.jpg","recursive":false,"x":150,"y":240,"wires":[["2bf91535.d3c74a","63e3b218.5a668c","c801bf7c.72ae"]]},{"id":"46db5db.0718ea4","type":"function","z":"e0c6af96.66427","name":"Status_Busy","func":"msg.payload= \"busy\";\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":60,"wires":[["ac0b1bba.c6bbe8"]]},{"id":"f766b8be.091f18","type":"function","z":"e0c6af96.66427","name":"Status_Idle","func":"msg.payload= \"Idle\";\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":100,"wires":[["ac0b1bba.c6bbe8"]]},{"id":"2bf91535.d3c74a","type":"function","z":"e0c6af96.66427","name":"Status_Busy","func":"msg.payload= \"busy\";\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":240,"wires":[["46e0156c.8fe34c"]]},{"id":"b95f23a8.d2cbc","type":"function","z":"e0c6af96.66427","name":"Status_Idle","func":"msg.payload= \"Idle\";\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":280,"wires":[["46e0156c.8fe34c"]]},{"id":"dacc9690.fb0648","type":"function","z":"e0c6af96.66427","name":"Get result","func":"msg.payload=msg.result.images[0].classifiers[0].classes;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":620,"wires":[["50d19c1c.8a89e4","774785a2.d4e7ec"]]},{"id":"8c1a5bdf.87a3d8","type":"change","z":"e0c6af96.66427","name":"Set Model","rules":[{"t":"set","p":"params[\"classifier_ids\"]","pt":"msg","to":"DefaultCustomModel_457760533","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":380,"wires":[["68ce063b.dfd428"]]},{"id":"774785a2.d4e7ec","type":"function","z":"e0c6af96.66427","name":"Get score","func":"msg.payload = msg.payload[0].score;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":740,"wires":[["3f179a31.c40906"]]},{"id":"50d19c1c.8a89e4","type":"function","z":"e0c6af96.66427","name":"Get Class","func":"msg.payload = msg.payload[0].class;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":700,"wires":[["2a7b9afa.307e56","7b24384d.1e8f18"]]},{"id":"db5fab82.ec04b8","type":"switch","z":"e0c6af96.66427","name":"if","property":"payload.Command","propertyType":"msg","rules":[{"t":"eq","v":"take_photo","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":60,"wires":[["46db5db.0718ea4","83a15901.3245a8"]]},{"id":"7b24384d.1e8f18","type":"function","z":"e0c6af96.66427","name":"to JSON","func":"msg.payload={ \"Result\":msg.payload}\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":780,"wires":[["863764f1.004668","c41ab0fd.90614"]]},{"id":"cc4a8027.d2f3e","type":"inject","z":"a124a51.67ca358","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":150,"y":80,"wires":[["a4a148b3.c033e8"]]},{"id":"948eadf9.3613a","type":"debug","z":"a124a51.67ca358","name":"","active":true,"console":"false","complete":"false","x":570,"y":80,"wires":[]},{"id":"1696c397.5ae24c","type":"template","z":"e0c6af96.66427","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img width=\"320px\" height=\"240px\" src=\"data:image/jpg;base64,{{{payload}}}\">","output":"str","x":600,"y":480,"wires":[["4920bc24.805ab4"]]},{"id":"c41ab0fd.90614","type":"debug","z":"e0c6af96.66427","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":780,"wires":[]},{"id":"63e3b218.5a668c","type":"trigger","z":"e0c6af96.66427","op1":"true","op2":"","op1type":"bool","op2type":"nul","duration":"0","extend":false,"units":"s","reset":"","bytopic":"all","name":"Let pass one Msg","x":170,"y":300,"wires":[["b8727c3f.5de7e","dad29eb1.b995f"]]},{"id":"b8727c3f.5de7e","type":"delay","z":"e0c6af96.66427","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":220,"y":340,"wires":[["3a6a97c4.bbfd78"]]},{"id":"3a6a97c4.bbfd78","type":"function","z":"e0c6af96.66427","name":"reset trigger","func":"msg.reset=true;\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":420,"wires":[["63e3b218.5a668c"]]},{"id":"dad29eb1.b995f","type":"delay","z":"e0c6af96.66427","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":400,"y":300,"wires":[["ea93d1d9.76112"]]},{"id":"456319a9.cc5e48","type":"ui_button","z":"e0c6af96.66427","name":"","group":"3ac14a28.5b44a6","order":0,"width":0,"height":0,"passthru":false,"label":"Take Picture","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":230,"y":140,"wires":[["83a15901.3245a8","46db5db.0718ea4"]]},{"id":"ac0b1bba.c6bbe8","type":"ui_text","z":"e0c6af96.66427","group":"3ac14a28.5b44a6","order":1,"width":0,"height":0,"name":"Camera Status","label":"Camera Status","format":"{{msg.payload}}","layout":"row-center","x":860,"y":80,"wires":[]},{"id":"46e0156c.8fe34c","type":"ui_text","z":"e0c6af96.66427","group":"3ac14a28.5b44a6","order":2,"width":0,"height":0,"name":"Visual Recognition Status","label":"Visual Recognition Status","format":"{{msg.payload}}","layout":"row-center","x":870,"y":260,"wires":[]},{"id":"2a7b9afa.307e56","type":"ui_text","z":"e0c6af96.66427","group":"3ac14a28.5b44a6","order":5,"width":0,"height":0,"name":"","label":"Class: ","format":"{{msg.payload}}","layout":"row-center","x":650,"y":700,"wires":[]},{"id":"3f179a31.c40906","type":"ui_text","z":"e0c6af96.66427","group":"3ac14a28.5b44a6","order":6,"width":0,"height":0,"name":"","label":"Score:","format":"{{msg.payload}}","layout":"row-center","x":650,"y":740,"wires":[]},{"id":"4920bc24.805ab4","type":"ui_template","z":"e0c6af96.66427","group":"3ac14a28.5b44a6","name":"","order":3,"width":"7","height":"5","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":760,"y":480,"wires":[[]]},{"id":"83a15901.3245a8","type":"camerapi-takephoto","z":"e0c6af96.66427","filemode":"1","filename":"image.jpg","filedefpath":"0","filepath":"/home/pi/Pictures/","fileformat":"jpeg","resolution":"1","fliph":"0","flipv":"1","brightness":"50","contrast":"0","sharpness":"0","quality":"","imageeffect":"none","agcwait":"0.5","led":"1","name":"","x":460,"y":160,"wires":[["f766b8be.091f18","5779fd5d.414c64"]]},{"id":"a4a148b3.c033e8","type":"camerapi-takephoto","z":"a124a51.67ca358","filemode":"2","filename":"","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"1","fliph":"0","flipv":"1","brightness":"60","contrast":"20","sharpness":"0","quality":"","imageeffect":"none","agcwait":"0.5","led":"1","name":"","x":360,"y":80,"wires":[["948eadf9.3613a"]]},{"id":"863764f1.004668","type":"ibmiot out","z":"e0c6af96.66427","authentication":"apiKey","apiKey":"c97c2403.9064d8","outputType":"evt","deviceId":"Raspberry_Pi_Visual_Recognition","deviceType":"Communication","eventCommandType":"event","format":"json","data":"{}","qos":0,"name":"Raspberry_Pi_Visual_Recognition","service":"registered","x":880,"y":840,"wires":[]},{"id":"252b8e96.b65312","type":"ibmiot in","z":"e0c6af96.66427","authentication":"apiKey","apiKey":"c97c2403.9064d8","inputType":"cmd","logicalInterface":"","ruleId":"","deviceId":"Raspberry_Pi_Visual_Recognition","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"Raspberry_Pi_Visual_Recognition","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":160,"y":60,"wires":[["db5fab82.ec04b8"]]},{"id":"ac2613e7.7461","type":"base64","z":"e0c6af96.66427","name":"","action":"str","property":"payload","x":440,"y":480,"wires":[["1696c397.5ae24c"]]},{"id":"c801bf7c.72ae","type":"debug","z":"e0c6af96.66427","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":220,"wires":[]},{"id":"5779fd5d.414c64","type":"debug","z":"e0c6af96.66427","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":160,"wires":[]},{"id":"f8682a37.420de8","type":"function","z":"e0c6af96.66427","name":"set url","func":"msg.payload=\"http://auberger.eu/IndustrialIoT/Item-Blue.png\";\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":380,"wires":[["8c1a5bdf.87a3d8"]]},{"id":"64b3cfe7.c6ea6","type":"inject","z":"e0c6af96.66427","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":130,"y":480,"wires":[["ea93d1d9.76112"]]},{"id":"68ce063b.dfd428","type":"visual-recognition-v3","z":"e0c6af96.66427","name":"","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"en","x":880,"y":380,"wires":[["b95f23a8.d2cbc","82669139.94b23","dacc9690.fb0648"]]},{"id":"82669139.94b23","type":"debug","z":"e0c6af96.66427","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1090,"y":380,"wires":[]},{"id":"9f5b71be.c690c","type":"inject","z":"e0c6af96.66427","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":475,"y":380,"wires":[["f8682a37.420de8"]],"l":false},{"id":"f30f564d.a8f818","type":"comment","z":"a124a51.67ca358","name":"","info":"This Flow can be used to store images locally on the raspberry pi\nThey can than be used to train a model for the visual inspection/recognition","x":140,"y":40,"wires":[]},{"id":"7fccb32f.b92ebc","type":"comment","z":"e0c6af96.66427","name":"","info":"This flow is responsible for the visual recognition.\nIt waits to get a command from the Iot platform.\nWhen it recieves one, the raspberry pi takes a photo of the conveyor (and the workpiece, when one is in position)\nThen the image (first stored loacally on the pi) is send to the watson visual recognition to identify the color and if the workpiece has a scratch on it or not.\nWhen the watson visual recognition has finished the visual inspection, the result if fed back to the raspberry. \nThis one forwards it then to the IoT Platform\n\nIn the future, the image should neot be send directly to the watson recognition.\nInstead it should be uploaded to the IBM cloud object storage.\nBy doing so an URL is created an fed back to the Pi. This Url is then send back to the IoT Platform.\nThis URL can then be used by the Node red Flow in the Cloud/ or a Cloud function to call the watson visual recognition\nSo the workload is shifted towards the cloud.","x":80,"y":20,"wires":[]},{"id":"6ab6f4c7.3e409c","type":"comment","z":"e0c6af96.66427","name":"","info":"Test if Url works","x":500,"y":360,"wires":[]}]