int-connected-factory-master/Source_Code/Visual_Recognition/Node_RED_Visual_Recognition.json
[{"id":"a124a51.67ca358","type":"tab","label":"Get Pictures","disabled":false,"info":""},{"id":"e0c6af96.66427","type":"tab","label":"Visual Recognition","disabled":false,"info":""},{"id":"8ac380e4.53f32","type":"mqtt-broker","z":"","name":"","broker":"9.236.65.160","port":"1883","tls":"","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d5572089.286bb","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"19200","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"713f4b2.07e24b4","type":"mqtt-broker","z":"","name":"","broker":"ai_i5","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7fb59f5c.628ee","type":"wiotp-credentials","z":"","name":"Win7CC Device","org":"o6nno2","devType":"Windows7GW","devId":"Win7CC"},{"id":"2917d4a4.39ee2c","type":"wiotp-credentials","z":"","name":"Win7CC Device","org":"o6nno2","devType":"Windows7GW","devId":"Win7CC"},{"id":"9193d38e.d1d28","type":"wiotp-credentials","z":"","name":"Win7CC Device","org":"o6nno2","devType":"Windows7GW","devId":"Win7CC"},{"id":"588f83c0.bf218c","type":"mqtt-broker","z":"","name":"","broker":"9.236.65.160","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"84f4da9c.4ce7b8","type":"serial-port","z":"","serialport":"COM5","serialbaud":"19200","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":";","responsetimeout":"10000"},{"id":"59084b0b.8df044","type":"serial-port","z":"","serialport":"COM12","serialbaud":"19200","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"f08bfa5a.fd7e48","type":"serial-port","z":"","serialport":"COM11","serialbaud":"19200","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":";","responsetimeout":"10000"},{"id":"7085920d.8ef23c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"3ac14a28.5b44a6","type":"ui_group","z":"","name":"Default","tab":"7085920d.8ef23c","disp":true,"width":"7","collapse":false},{"id":"c97c2403.9064d8","type":"ibmiot","z":"","name":"IoT_Platform","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"eb670abd.597288","type":"cos-config","z":"","apiKeyId":"9f912fcd1acd8828c05e863addf7db214942cebf8e0ad50c","location":"us-geo","ibmAuthEndpoint":"https://iam.ng.bluemix.net/oidc/token","endpoint":"s3-api.us-geo.objectstorage.softlayer.net","serviceInstanceId":"fc3b9e56dfdb455ba7915e0b81c0887c","hmac":false,"accesskeyid":"","accesskey":"","name":"Visual_Inspection"},{"id":"ea93d1d9.76112","type":"file in","z":"e0c6af96.66427","name":"get file","filename":"/home/pi/Pictures/image.jpg","format":"","sendError":true,"x":190,"y":480,"wires":[["ac2613e7.7461","8c1a5bdf.87a3d8"]]},{"id":"3903eea1.29a192","type":"inject","z":"e0c6af96.66427","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":250,"y":260,"wires":[["83a15901.3245a8"]]},{"id":"46db5db.0718ea4","type":"function","z":"e0c6af96.66427","name":"Status_Busy","func":"msg.payload= \"busy\";\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":140,"wires":[["ac0b1bba.c6bbe8"]]},{"id":"f766b8be.091f18","type":"function","z":"e0c6af96.66427","name":"Status_Idle","func":"msg.payload= \"Idle\";\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":180,"wires":[["ac0b1bba.c6bbe8"]]},{"id":"2bf91535.d3c74a","type":"function","z":"e0c6af96.66427","name":"Status_Busy","func":"msg.payload= \"busy\";\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":400,"wires":[["46e0156c.8fe34c"]]},{"id":"b95f23a8.d2cbc","type":"function","z":"e0c6af96.66427","name":"Status_Idle","func":"msg.payload= \"Idle\";\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":440,"wires":[["46e0156c.8fe34c"]]},{"id":"8c1a5bdf.87a3d8","type":"change","z":"e0c6af96.66427","name":"Set Model","rules":[{"t":"set","p":"params[\"classifier_ids\"]","pt":"msg","to":"DefaultCustomModel_457760533","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":540,"wires":[["68ce063b.dfd428"]]},{"id":"774785a2.d4e7ec","type":"function","z":"e0c6af96.66427","name":"Get score","func":"msg.payload = msg.payload.score;\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":740,"wires":[["3f179a31.c40906"]]},{"id":"50d19c1c.8a89e4","type":"function","z":"e0c6af96.66427","name":"Get Class","func":"msg.payload = msg.payload.result;\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":700,"wires":[["2a7b9afa.307e56"]]},{"id":"db5fab82.ec04b8","type":"switch","z":"e0c6af96.66427","name":"if","property":"payload.Command","propertyType":"msg","rules":[{"t":"eq","v":"take_photo","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":140,"wires":[["46db5db.0718ea4","83a15901.3245a8"]]},{"id":"cc4a8027.d2f3e","type":"inject","z":"a124a51.67ca358","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":150,"y":80,"wires":[["a4a148b3.c033e8"]]},{"id":"948eadf9.3613a","type":"debug","z":"a124a51.67ca358","name":"","active":true,"console":"false","complete":"false","x":570,"y":80,"wires":[]},{"id":"1696c397.5ae24c","type":"template","z":"e0c6af96.66427","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img width=\"320px\" height=\"240px\" src=\"data:image/jpg;base64,{{{payload}}}\">","output":"str","x":480,"y":480,"wires":[["4920bc24.805ab4"]]},{"id":"c41ab0fd.90614","type":"debug","z":"e0c6af96.66427","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1130,"y":660,"wires":[]},{"id":"456319a9.cc5e48","type":"ui_button","z":"e0c6af96.66427","name":"","group":"3ac14a28.5b44a6","order":0,"width":0,"height":0,"passthru":false,"label":"Take Picture","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":230,"y":220,"wires":[["83a15901.3245a8","46db5db.0718ea4"]]},{"id":"ac0b1bba.c6bbe8","type":"ui_text","z":"e0c6af96.66427","group":"3ac14a28.5b44a6","order":1,"width":0,"height":0,"name":"Camera Status","label":"Camera Status","format":"{{msg.payload}}","layout":"row-center","x":860,"y":160,"wires":[]},{"id":"46e0156c.8fe34c","type":"ui_text","z":"e0c6af96.66427","group":"3ac14a28.5b44a6","order":2,"width":0,"height":0,"name":"Visual Recognition Status","label":"Visual Recognition Status","format":"{{msg.payload}}","layout":"row-center","x":1070,"y":420,"wires":[]},{"id":"2a7b9afa.307e56","type":"ui_text","z":"e0c6af96.66427","group":"3ac14a28.5b44a6","order":5,"width":0,"height":0,"name":"","label":"Class: ","format":"{{msg.payload}}","layout":"row-center","x":1030,"y":700,"wires":[]},{"id":"3f179a31.c40906","type":"ui_text","z":"e0c6af96.66427","group":"3ac14a28.5b44a6","order":6,"width":0,"height":0,"name":"","label":"Score:","format":"{{msg.payload}}","layout":"row-center","x":1030,"y":740,"wires":[]},{"id":"4920bc24.805ab4","type":"ui_template","z":"e0c6af96.66427","group":"3ac14a28.5b44a6","name":"","order":3,"width":"7","height":"5","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":620,"y":480,"wires":[[]]},{"id":"83a15901.3245a8","type":"camerapi-takephoto","z":"e0c6af96.66427","filemode":"1","filename":"image.jpg","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"1","fliph":"0","flipv":"1","brightness":"50","contrast":"0","sharpness":"0","quality":"","imageeffect":"none","agcwait":"0.5","led":"1","name":"","x":460,"y":240,"wires":[["f766b8be.091f18","5d5a4531.08417c"]]},{"id":"a4a148b3.c033e8","type":"camerapi-takephoto","z":"a124a51.67ca358","filemode":"2","filename":"","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"1","fliph":"0","flipv":"1","brightness":"60","contrast":"20","sharpness":"0","quality":"","imageeffect":"none","agcwait":"0.5","led":"1","name":"","x":360,"y":80,"wires":[["948eadf9.3613a"]]},{"id":"863764f1.004668","type":"ibmiot out","z":"e0c6af96.66427","authentication":"apiKey","apiKey":"c97c2403.9064d8","outputType":"evt","deviceId":"Raspberry_Pi_Visual_Recognition","deviceType":"Communication","eventCommandType":"event","format":"json","data":"{}","qos":0,"name":"Raspberry_Pi_Visual_Recognition","service":"registered","x":1200,"y":600,"wires":[]},{"id":"252b8e96.b65312","type":"ibmiot in","z":"e0c6af96.66427","authentication":"apiKey","apiKey":"c97c2403.9064d8","inputType":"cmd","logicalInterface":"","ruleId":"","deviceId":"Raspberry_Pi_Visual_Recognition","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"Raspberry_Pi_Visual_Recognition","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":160,"y":140,"wires":[["db5fab82.ec04b8"]]},{"id":"ac2613e7.7461","type":"base64","z":"e0c6af96.66427","name":"","action":"str","property":"payload","x":340,"y":480,"wires":[["1696c397.5ae24c"]]},{"id":"f8682a37.420de8","type":"function","z":"e0c6af96.66427","name":"set url","func":"msg.payload=\"http://auberger.eu/IndustrialIoT/Item-Blue.png\";\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":540,"wires":[["8c1a5bdf.87a3d8"]]},{"id":"68ce063b.dfd428","type":"visual-recognition-v3","z":"e0c6af96.66427","name":"","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"en","x":530,"y":540,"wires":[["b95f23a8.d2cbc","82669139.94b23","2cae6840.5df908","52e4e649.8916b8"]]},{"id":"82669139.94b23","type":"debug","z":"e0c6af96.66427","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":540,"wires":[]},{"id":"9f5b71be.c690c","type":"inject","z":"e0c6af96.66427","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":95,"y":540,"wires":[["f8682a37.420de8"]],"l":false},{"id":"f30f564d.a8f818","type":"comment","z":"a124a51.67ca358","name":"","info":"This Flow can be used to store images locally on the raspberry pi\nThey can than be used to train a model for the visual inspection/recognition","x":140,"y":40,"wires":[]},{"id":"2cae6840.5df908","type":"switch","z":"e0c6af96.66427","name":"Get Error","property":"result.error","propertyType":"msg","rules":[{"t":"cont","v":"Error","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":740,"y":600,"wires":[["a0b2f0b7.c0893"]]},{"id":"a0b2f0b7.c0893","type":"function","z":"e0c6af96.66427","name":"to JSON","func":"msg.payload={ \"Result\":\"Error\"}\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":600,"wires":[["863764f1.004668"]]},{"id":"90f446.210a7bb8","type":"comment","z":"e0c6af96.66427","name":"----------- Take a Picture and store it locally -----------","info":"","x":210,"y":100,"wires":[]},{"id":"58ca44d7.5bdd3c","type":"comment","z":"e0c6af96.66427","name":"----------- Take a Picture and store it locally -----------","info":"","x":210,"y":340,"wires":[]},{"id":"59cb999f.905838","type":"link out","z":"e0c6af96.66427","name":"Picture_ready","links":["ebdf861.72f0a78"],"x":820,"y":240,"wires":[],"l":true},{"id":"5d5a4531.08417c","type":"delay","z":"e0c6af96.66427","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":240,"wires":[["59cb999f.905838"]]},{"id":"ebdf861.72f0a78","type":"link in","z":"e0c6af96.66427","name":"Start VR","links":["59cb999f.905838"],"x":100,"y":400,"wires":[["ea93d1d9.76112","2bf91535.d3c74a"]],"l":true},{"id":"52e4e649.8916b8","type":"function","z":"e0c6af96.66427","name":"get result","func":"msg.payload={ \n    \"result\":msg.result.images[0].classifiers[0].classes[0].class,\n    \"score\":msg.result.images[0].classifiers[0].classes[0].score\n}\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":640,"wires":[["c41ab0fd.90614","863764f1.004668","50d19c1c.8a89e4","774785a2.d4e7ec"]]}]