int-connected-factory-master/Source_Code/Node_RED_Raspberry_Pi/Node-Red-Rasp3.json
[{"id":"2d9a81b9.0077be","type":"tab","label":"Gateway","disabled":false,"info":""},{"id":"99e459e7.764638","type":"wiotp-credentials","z":"","name":"Win7CC Device","org":"o6nno2","devType":"Windows7GW","devId":"Win7CC"},{"id":"6eafad7b.d99554","type":"mqtt-broker","z":"","name":"","broker":"9.236.65.160","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5ba72f85.b91e5","type":"ui_group","z":"2d9a81b9.0077be","name":"Control","tab":"20b792d5.435f2e","order":1,"disp":true,"width":"9"},{"id":"2a2ce3e8.c2226c","type":"ui_group","z":"2d9a81b9.0077be","name":"Machine State","tab":"20b792d5.435f2e","order":3,"disp":true,"width":"5"},{"id":"ebce214b.5192c","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"87dedb56.c56258","type":"ui_group","z":"","name":"Location","tab":"","order":1,"disp":true,"width":"9","collapse":false},{"id":"e5cdfb12.ba0d48","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"6aba14c8.eb6c4c","type":"ui_group","name":"Group 3","tab":"","order":3,"disp":true,"width":6},{"id":"c2580a9a.9cedb8","type":"ui_group","name":"Group 4","tab":"","order":4,"disp":true,"width":6},{"id":"97597e7f.df0f5","type":"ui_group","name":"Group 5","tab":"","order":5,"disp":true,"width":6},{"id":"f3a30b30.36fe28","type":"ui_group","z":"","name":"Current Data","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"4a1c2e36.af207","type":"ui_group","z":"","name":"Current Weather","tab":"","order":3,"disp":true,"width":"4","collapse":false},{"id":"14dd7710.1bfa99","type":"ui_group","z":"","name":"Weather in 24h","tab":"","order":4,"disp":true,"width":"4","collapse":false},{"id":"7fbd1e0e.6e129","type":"ui_group","z":"","name":"Warehouse occupancy","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"cebf6cde.3f47c","type":"ui_group","z":"","name":"Vaccum Gripper","tab":"","order":2,"disp":true,"width":"5","collapse":false},{"id":"473cfbed.366614","type":"ui_group","z":"","name":"High-Bay Warehouse","tab":"","order":3,"disp":true,"width":"4","collapse":false},{"id":"847d661c.78ee88","type":"ui_group","z":"","name":"Command Window","tab":"","order":5,"disp":true,"width":"7","collapse":false},{"id":"6fbde95a.886c68","type":"ui_group","z":"","name":"Production Data","tab":"","order":4,"disp":true,"width":"12","collapse":false},{"id":"7b60c921.c50668","type":"ui_group","z":"","name":"Plant State","tab":"","order":5,"disp":true,"width":"6","collapse":false},{"id":"c7bb97a7.05bfb8","type":"ui_group","z":"","name":"event log","tab":"","order":3,"disp":true,"width":"11","collapse":false},{"id":"cc430ae1.63d168","type":"ui_group","z":"","name":"event log","tab":"","order":6,"disp":true,"width":"11","collapse":false},{"id":"10ebdb3e.b37815","type":"ui_spacer","name":"spacer","group":"cebf6cde.3f47c","order":3,"width":"1","height":1},{"id":"cc461aab.366688","type":"ui_spacer","name":"spacer","group":"cebf6cde.3f47c","order":6,"width":1,"height":1},{"id":"38b9b7c8.ef76b8","type":"ui_spacer","name":"spacer","group":"cebf6cde.3f47c","order":9,"width":1,"height":1},{"id":"681beb3a.605c64","type":"ui_spacer","name":"spacer","group":"cebf6cde.3f47c","order":12,"width":1,"height":1},{"id":"d515e91.4e40918","type":"ui_group","z":"","name":"event log","tab":"","order":3,"disp":true,"width":"11","collapse":false},{"id":"1e0ae301.0f92bd","type":"ui_group","z":"","name":"Processing Station","tab":"","order":2,"disp":true,"width":"8","collapse":false},{"id":"6fb620fa.6b736","type":"ui_group","z":"","name":"Image","tab":"","order":1,"disp":true,"width":"8","collapse":false},{"id":"5b48a802.e71a68","type":"ui_group","z":"","name":"Sensors","tab":"","order":2,"disp":true,"width":"4","collapse":false},{"id":"4c3c0d7e.237a34","type":"ui_group","z":"","name":"Workpiece detected","tab":"","order":4,"disp":true,"width":"4","collapse":false},{"id":"a25f887b.31e6e8","type":"ui_group","z":"","name":"Image","tab":"","order":1,"disp":true,"width":"8","collapse":false},{"id":"3289f986.42faa6","type":"serial-port","z":"","serialport":"/dev/ttyACM1","serialbaud":"19200","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":";","responsetimeout":"10000"},{"id":"48d17c3.3eadd84","type":"serial-port","z":"","serialport":"/dev/ttyACM2","serialbaud":"19200","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":";","responsetimeout":"10000"},{"id":"d67c4ed1.2d9e9","type":"ui_group","z":"","name":"Image","tab":"","order":1,"disp":true,"width":"8","collapse":false},{"id":"f389a711.763408","type":"ui_group","z":"","name":"Image","tab":"","order":1,"disp":true,"width":"8","collapse":false},{"id":"16130517.5086ab","type":"ui_group","z":0,"name":"Tables","tab":"","order":8,"disp":true,"width":"6"},{"id":"25851ce6.046474","type":"ui_spacer","name":"spacer","group":"48762baa.0b58b4","order":14,"width":1,"height":1},{"id":"9640bb22.c048b8","type":"ui_group","z":"","name":"Test Messages","tab":"","disp":true,"width":"9","collapse":false},{"id":"d1eb0f1a.ec4d9","type":"ui_group","z":"","name":"event log","tab":"","order":5,"disp":true,"width":"11","collapse":false},{"id":"2452009.8fd51","type":"cloudant","z":"","host":"5f3ef5ea-6678-4a5e-9576-62f70a17e5dc-bluemix.cloudantnosqldb.appdomain.cloud","name":"ibm"},{"id":"bb2578d.0af2e88","type":"chatbot-telegram-node","z":"","botname":"IoT_Platform_Munich_bot","usernames":"","providerToken":"","polling":"1000","store":"","log":"","parseMode":"","debug":false,"webHook":"","connectMode":"polling"},{"id":"8f5fe4e8.197e48","type":"ui_group","z":"","name":"NFC","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"4e78e300.7e699c","type":"cloudantplus","z":"","host":"https://6fa5f22a-398b-46ae-abaf-59012497cf65-bluemix:3dc58f5c2108efd05f44a79bf59e0ecc418a847fc6f0a6c26cedf6655a785434@6fa5f22a-398b-46ae-abaf-59012497cf65-bluemix.cloudantnosqldb.appdomain.cloud","name":"Cloudant"},{"id":"c24d4957.beecd8","type":"ui_group","z":"","name":"Command","tab":"","order":5,"disp":true,"width":"6","collapse":false},{"id":"4c29d0b4.b06f","type":"ibmiot","z":"","name":"IoT_Platform_Munich","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"30d6e63.f22bb1a","type":"chatbot-slack-node","z":"","botname":"","usernames":"","username":"","iconEmoji":"","store":"","log":"","debug":false},{"id":"eb75cc38.f297d","type":"chatbot-slack-node","z":"","botname":"test","usernames":"","username":"","iconEmoji":"","store":"","log":"","debug":false},{"id":"58a4366d.b0ddf8","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"19200","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":";","responsetimeout":"10000"},{"id":"ae1bffa4.558ea","type":"websocket-listener","z":"","path":"https://7k0aag.messaging.internetofthings.ibmcloud.com:8883/api/v0002/application/types/watsonassistant/devices/101/commands/100","wholemsg":"true"},{"id":"c350d0ca.e2798","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"19200","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":";","responsetimeout":"10000"},{"id":"3fb09401.ce096c","type":"serial-port","z":"","serialport":"/dev/ttyUSB1","serialbaud":"19200","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":";","responsetimeout":"10000"},{"id":"69672973.0457c8","type":"serial-port","z":"","serialport":"/dev/ttyUSB2","serialbaud":"19200","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":";","responsetimeout":"10000"},{"id":"c7c83ef0.7de4c","type":"serial-port","z":"","serialport":"/dev/ttyUSB3","serialbaud":"19200","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":";","responsetimeout":"10000"},{"id":"55d9cc1f.cfaef4","type":"mqtt-broker","z":"","broker":"192.168.1.157","port":"1883","clientid":"test-client","usetls":false,"compatmode":true,"keepalive":"120","cleansession":true,"birthTopic":"sensors/connected/test-client","birthQos":"0","birthRetain":"true","birthPayload":"1","willTopic":"sensors/connected/test-client","willQos":"0","willRetain":"true","willPayload":"0"},{"id":"e8850fc9.74bb8","type":"serial-port","z":"","serialport":"/dev/ttyUSB4","serialbaud":"19200","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":";","responsetimeout":"10000"},{"id":"fa3f04f2.378658","type":"ui_group","z":"","name":"Camera","tab":"666e9291.4c81fc","order":2,"disp":true,"width":"25","collapse":false},{"id":"666e9291.4c81fc","type":"ui_tab","z":0,"name":"Home","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"11c73335.813fad","type":"inject","z":"2d9a81b9.0077be","name":"Command: 12","topic":"","payload":"{\"controller\":8,\"subadress\":0,\"timestamp\":1351824120,\"command\":12}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":150,"y":1700,"wires":[["5b013d8b.690154"]]},{"id":"2b06dfb4.c8248","type":"inject","z":"2d9a81b9.0077be","name":"Command: 50","topic":"","payload":"{\"controller\":8,\"subadress\":0,\"timestamp\":1351824120,\"command\":50}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":150,"y":1740,"wires":[["5b013d8b.690154"]]},{"id":"8c028f98.f17ed","type":"inject","z":"2d9a81b9.0077be","name":"Command: 11","topic":"","payload":"{\"controller\":8,\"subadress\":0,\"timestamp\":1351824120,\"command\":11}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":150,"y":1660,"wires":[["5b013d8b.690154"]]},{"id":"d90a7350.fe6f","type":"inject","z":"2d9a81b9.0077be","name":"Command: 10","topic":"","payload":"{\"controller\":8,\"subadress\":0,\"timestamp\":1351824120,\"command\":10}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":150,"y":1620,"wires":[["5b013d8b.690154"]]},{"id":"3aa3020b.0e7bee","type":"inject","z":"2d9a81b9.0077be","name":"Command: 0","topic":"","payload":"{\"controller\":8,\"subadress\":0,\"timestamp\":1351824120,\"command\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":150,"y":1580,"wires":[["5b013d8b.690154"]]},{"id":"583db207.e441ac","type":"comment","z":"2d9a81b9.0077be","name":"----------- This flow is just used to send manually a command to the IoT Platform. So just used for test purposes. ------------","info":"This flow is just used to send manually a command to the IoT Platform.\nSo just used for test purposes.","x":460,"y":1540,"wires":[]},{"id":"5b013d8b.690154","type":"serial out","z":"2d9a81b9.0077be","name":"Processing_station","serial":"48d17c3.3eadd84","x":390,"y":1660,"wires":[]},{"id":"a58c6001.cf803","type":"serial out","z":"2d9a81b9.0077be","name":"VSG_HRL","serial":"c350d0ca.e2798","x":850,"y":1660,"wires":[]},{"id":"20a9ab5d.661e94","type":"inject","z":"2d9a81b9.0077be","name":"Command: 101","topic":"","payload":"{\"controller\":8,\"subadress\":0,\"timestamp\":1351824120,\"command\":101}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":640,"y":1700,"wires":[["a58c6001.cf803"]]},{"id":"5702f01.a5dd51","type":"inject","z":"2d9a81b9.0077be","name":"Command: 102","topic":"","payload":"{\"controller\":8,\"subadress\":0,\"timestamp\":1351824120,\"command\":102}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":640,"y":1740,"wires":[["a58c6001.cf803"]]},{"id":"c975bdd9.8ee11","type":"inject","z":"2d9a81b9.0077be","name":"Command: 100","topic":"","payload":"{\"controller\":8,\"subadress\":0,\"timestamp\":1351824120,\"command\":100}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":640,"y":1660,"wires":[["a58c6001.cf803"]]},{"id":"981034a8.937048","type":"inject","z":"2d9a81b9.0077be","name":"Command: 10","topic":"","payload":"{\"controller\":8,\"subadress\":0,\"timestamp\":1351824120,\"command\":10}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":630,"y":1620,"wires":[["a58c6001.cf803"]]},{"id":"c91f3531.2c0a68","type":"inject","z":"2d9a81b9.0077be","name":"Command: 0","topic":"","payload":"{\"controller\":8,\"subadress\":0,\"timestamp\":1351824120,\"command\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":630,"y":1580,"wires":[["a58c6001.cf803"]]},{"id":"408b3e56.e318","type":"serial in","z":"2d9a81b9.0077be","name":"","serial":"58a4366d.b0ddf8","x":110,"y":280,"wires":[["86a3c7dd.1ca098"]]},{"id":"9e44babf.9a4a48","type":"debug","z":"2d9a81b9.0077be","name":"ESP","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":460,"wires":[]},{"id":"cf1584e7.b8e7e8","type":"serial in","z":"2d9a81b9.0077be","name":"","serial":"3fb09401.ce096c","x":110,"y":340,"wires":[["86a3c7dd.1ca098"]]},{"id":"5d9ae22b.3901ec","type":"serial in","z":"2d9a81b9.0077be","name":"","serial":"69672973.0457c8","x":110,"y":400,"wires":[["86a3c7dd.1ca098"]]},{"id":"9d6e2757.99e2a8","type":"debug","z":"2d9a81b9.0077be","name":"Vaccum_Gripper_2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":380,"wires":[]},{"id":"54c3300b.2137d","type":"debug","z":"2d9a81b9.0077be","name":"Warehouse_2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":860,"y":340,"wires":[]},{"id":"86a3c7dd.1ca098","type":"json","z":"2d9a81b9.0077be","name":"","x":290,"y":260,"wires":[["fb64c061.56ed","abc494d1.01e4e8"]]},{"id":"fb64c061.56ed","type":"switch","z":"2d9a81b9.0077be","name":"Determine Device","property":"payload.subadress","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"9","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":10,"x":470,"y":260,"wires":[["8d58a5f6.2867a8","6e08727.3f6d98c"],["3c20b276.a823fe","e22ea4b9.f35218"],["582797d3.678a28","5eab3c9f.6b5a64"],["e59d3c49.0f245","2de75661.c313fa"],["22696cfd.3e30a4"],["d34b7c3d.01cb7","daae1005.d79b2"],["c7313531.171f08","77527866.553aa8"],["1f466da3.7951c2","89edc1c2.b978"],["581ac5cd.fa1d6c","436cec7c.ef5e24"],["771e6c70.6c3944","a1c70680.d921e8"]]},{"id":"f7f09dfd.cc161","type":"debug","z":"2d9a81b9.0077be","name":"Vaccum_Gripper_1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":180,"wires":[]},{"id":"26f55df0.5633f2","type":"debug","z":"2d9a81b9.0077be","name":"Warehouse_1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":860,"y":140,"wires":[]},{"id":"82ec72a8.50c8","type":"debug","z":"2d9a81b9.0077be","name":"Plant","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":100,"wires":[]},{"id":"1f0e034f.abb13d","type":"debug","z":"2d9a81b9.0077be","name":"Processing_Station","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":220,"wires":[]},{"id":"22696cfd.3e30a4","type":"debug","z":"2d9a81b9.0077be","name":"Nothing","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":840,"y":260,"wires":[]},{"id":"eb443921.cdbf38","type":"debug","z":"2d9a81b9.0077be","name":"Sorting_Line","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":300,"wires":[]},{"id":"fc331f2d.9c069","type":"serial in","z":"2d9a81b9.0077be","name":"","serial":"3289f986.42faa6","x":110,"y":160,"wires":[["86a3c7dd.1ca098"]]},{"id":"5ce2fbba.5423d4","type":"serial in","z":"2d9a81b9.0077be","name":"","serial":"c350d0ca.e2798","x":110,"y":100,"wires":[["86a3c7dd.1ca098"]]},{"id":"a59a0e1a.e2e82","type":"serial in","z":"2d9a81b9.0077be","name":"","serial":"48d17c3.3eadd84","x":110,"y":220,"wires":[["86a3c7dd.1ca098"]]},{"id":"771e6c70.6c3944","type":"ibmiot out","z":"2d9a81b9.0077be","authentication":"apiKey","apiKey":"4c29d0b4.b06f","outputType":"evt","deviceId":"ESP32","deviceType":"Communication","eventCommandType":"event","format":"json","data":"{}","qos":0,"name":"ESP32","service":"registered","x":1100,"y":460,"wires":[]},{"id":"8d58a5f6.2867a8","type":"ibmiot out","z":"2d9a81b9.0077be","authentication":"apiKey","apiKey":"4c29d0b4.b06f","outputType":"evt","deviceId":"PlantMunich","deviceType":"Communication","eventCommandType":"event","format":"json","data":"{}","qos":"0","name":"PlantMunich","service":"registered","x":1110,"y":100,"wires":[]},{"id":"3c20b276.a823fe","type":"ibmiot out","z":"2d9a81b9.0077be","authentication":"apiKey","apiKey":"4c29d0b4.b06f","outputType":"evt","deviceId":"WarehouseMunich_1","deviceType":"Communication","eventCommandType":"event","format":"json","data":"{}","qos":0,"name":"WarehouseMunich_1","service":"registered","x":1140,"y":140,"wires":[]},{"id":"582797d3.678a28","type":"ibmiot out","z":"2d9a81b9.0077be","authentication":"apiKey","apiKey":"4c29d0b4.b06f","outputType":"evt","deviceId":"VacuumGripperMunich_1","deviceType":"Communication","eventCommandType":"event","format":"json","data":"{}","qos":0,"name":"VacuumGripperMunich_1","service":"registered","x":1150,"y":180,"wires":[]},{"id":"e59d3c49.0f245","type":"ibmiot out","z":"2d9a81b9.0077be","authentication":"apiKey","apiKey":"4c29d0b4.b06f","outputType":"evt","deviceId":"Processing_Station_Munich","deviceType":"Communication","eventCommandType":"event","format":"json","data":"{}","qos":0,"name":"Processing_Station_Munich","service":"registered","x":1160,"y":220,"wires":[]},{"id":"d34b7c3d.01cb7","type":"ibmiot out","z":"2d9a81b9.0077be","authentication":"apiKey","apiKey":"4c29d0b4.b06f","outputType":"evt","deviceId":"Sorting_Line_Munich","deviceType":"Communication","eventCommandType":"event","format":"json","data":"{}","qos":0,"name":"Sorting_Line_Munich","service":"registered","x":1140,"y":300,"wires":[]},{"id":"bf2a1d3e.441bd","type":"comment","z":"2d9a81b9.0077be","name":"------------------------------ Forward Data to the IoT Platform ------------------------------","info":"There are 6 serial connections to the raspberry pi. \nFirst the data is convertetd to a propper json object.\nIn the \"Determine Device\" node, the origin of the data is determined because you can change the port number when restarting.\nThe origin of the information can be determined by the ID.\n\nWhen done so the information is send to the according device in the IBM IoT platform","x":320,"y":40,"wires":[]},{"id":"bbad83b4.72c35","type":"comment","z":"2d9a81b9.0077be","name":"------------------------------ Send Commands to the Plant ------------------------------","info":"There are 6 serial connections to the raspberry pi. \nFirst the data is convertetd to a propper json object.\nIn the \"Determine Device\" node, the origin of the data is determined because you can change the port number when restarting.\nThe origin of the information can be determined by the ID.\n\nWhen done so the information is send to the according device in the IBM IoT platform","x":310,"y":720,"wires":[]},{"id":"b7d32f14.32125","type":"ibmiot in","z":"2d9a81b9.0077be","authentication":"apiKey","apiKey":"4c29d0b4.b06f","inputType":"cmd","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"Processing","commandType":"","format":"json","name":"Commands","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":"","allCommands":true,"allFormats":"","qos":0,"x":130,"y":1180,"wires":[["93401f8c.9890e","d5a587e2.97a498","54f5ebc2.5e35d4","f8362698.7b0e88","42287ade.1a8bd4","fb8951f8.3135d"]]},{"id":"93401f8c.9890e","type":"switch","z":"2d9a81b9.0077be","name":"Commands for Warehouse 1","property":"deviceId","propertyType":"msg","rules":[{"t":"eq","v":"WarehouseMunich_1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":400,"y":1000,"wires":[["5e67b857.2b42b8"]]},{"id":"d5a587e2.97a498","type":"debug","z":"2d9a81b9.0077be","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":330,"y":800,"wires":[]},{"id":"a1c70680.d921e8","type":"change","z":"2d9a81b9.0077be","name":"Store Port","rules":[{"t":"set","p":"port.esp","pt":"global","to":"port","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":460,"wires":[["9e44babf.9a4a48"]]},{"id":"633cbaa0.e3d6f4","type":"change","z":"2d9a81b9.0077be","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"port","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":640,"wires":[["97f1c7ad.a95038"]]},{"id":"97f1c7ad.a95038","type":"debug","z":"2d9a81b9.0077be","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":470,"y":640,"wires":[]},{"id":"1f466da3.7951c2","type":"change","z":"2d9a81b9.0077be","name":"Store Port","rules":[{"t":"set","p":"port.vacuumgripper2","pt":"global","to":"port","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":380,"wires":[["9d6e2757.99e2a8"]]},{"id":"c7313531.171f08","type":"change","z":"2d9a81b9.0077be","name":"Store Port","rules":[{"t":"set","p":"port.warehouse2","pt":"global","to":"port","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":340,"wires":[["54c3300b.2137d"]]},{"id":"daae1005.d79b2","type":"change","z":"2d9a81b9.0077be","name":"Store Port","rules":[{"t":"set","p":"port.sortingline","pt":"global","to":"port","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":300,"wires":[["eb443921.cdbf38"]]},{"id":"2de75661.c313fa","type":"change","z":"2d9a81b9.0077be","name":"Store Port","rules":[{"t":"set","p":"port.processingstation","pt":"global","to":"port","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":220,"wires":[["1f0e034f.abb13d"]]},{"id":"6e08727.3f6d98c","type":"change","z":"2d9a81b9.0077be","name":"Store Port","rules":[{"t":"set","p":"port.plant","pt":"global","to":"port","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":100,"wires":[["82ec72a8.50c8"]]},{"id":"e22ea4b9.f35218","type":"change","z":"2d9a81b9.0077be","name":"Store Port","rules":[{"t":"set","p":"port.warehouse1","pt":"global","to":"port","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":140,"wires":[["26f55df0.5633f2"]]},{"id":"5eab3c9f.6b5a64","type":"change","z":"2d9a81b9.0077be","name":"Store Port","rules":[{"t":"set","p":"port.vacuumgripper1","pt":"global","to":"port","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":180,"wires":[["f7f09dfd.cc161"]]},{"id":"d18f5db.8c03ea","type":"comment","z":"2d9a81b9.0077be","name":"------------------------------ Check Port of connected Devices ------------------------------","info":"","x":320,"y":580,"wires":[]},{"id":"727eb625.6bb278","type":"inject","z":"2d9a81b9.0077be","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":640,"wires":[["633cbaa0.e3d6f4"]]},{"id":"5e67b857.2b42b8","type":"switch","z":"2d9a81b9.0077be","name":"Select Port","property":"port.warehouse1","propertyType":"global","rules":[{"t":"cont","v":"/dev/ttyACM0","vt":"str"},{"t":"eq","v":"/dev/ttyACM1","vt":"str"},{"t":"eq","v":"/dev/ttyACM2","vt":"str"},{"t":"eq","v":"/dev/ttyUSB0","vt":"str"},{"t":"eq","v":"/dev/ttyUSB1","vt":"str"},{"t":"eq","v":"/dev/ttyUSB2","vt":"str"},{"t":"eq","v":"/dev/ttyUSB3","vt":"str"},{"t":"eq","v":"/dev/ttyUSB4","vt":"str"}],"checkall":"true","repair":false,"outputs":8,"x":710,"y":1000,"wires":[["823022a9.191ea"],["3ab605d6.03c43a"],["5bb5adc7.0bf834"],["9996e7f1.9167f8"],["eb421e52.d7288"],["96cf35c8.a11b38"],["eb2f4d47.cad36"],["6bdb7f35.c15bf"]]},{"id":"823022a9.191ea","type":"serial out","z":"2d9a81b9.0077be","name":"","serial":"c350d0ca.e2798","x":1280,"y":940,"wires":[]},{"id":"3ab605d6.03c43a","type":"serial out","z":"2d9a81b9.0077be","name":"","serial":"3289f986.42faa6","x":1280,"y":1000,"wires":[]},{"id":"5bb5adc7.0bf834","type":"serial out","z":"2d9a81b9.0077be","name":"","serial":"48d17c3.3eadd84","x":1280,"y":1060,"wires":[]},{"id":"9996e7f1.9167f8","type":"serial out","z":"2d9a81b9.0077be","name":"","serial":"58a4366d.b0ddf8","x":1270,"y":1120,"wires":[]},{"id":"eb421e52.d7288","type":"serial out","z":"2d9a81b9.0077be","name":"","serial":"3fb09401.ce096c","x":1270,"y":1180,"wires":[]},{"id":"96cf35c8.a11b38","type":"serial out","z":"2d9a81b9.0077be","name":"","serial":"69672973.0457c8","x":1270,"y":1240,"wires":[]},{"id":"90fe6ddb.55f2d","type":"switch","z":"2d9a81b9.0077be","name":"Select Port","property":"port.processingstation","propertyType":"global","rules":[{"t":"cont","v":"/dev/ttyACM0","vt":"str"},{"t":"eq","v":"/dev/ttyACM1","vt":"str"},{"t":"eq","v":"/dev/ttyACM2","vt":"str"},{"t":"eq","v":"/dev/ttyUSB0","vt":"str"},{"t":"eq","v":"/dev/ttyUSB1","vt":"str"},{"t":"eq","v":"/dev/ttyUSB2","vt":"str"},{"t":"eq","v":"/dev/ttyUSB3","vt":"str"},{"t":"eq","v":"/dev/ttyUSB3","vt":"str"}],"checkall":"true","repair":false,"outputs":8,"x":710,"y":860,"wires":[["823022a9.191ea"],["3ab605d6.03c43a"],["5bb5adc7.0bf834"],["9996e7f1.9167f8"],["eb421e52.d7288"],["96cf35c8.a11b38"],["eb2f4d47.cad36"],["6bdb7f35.c15bf"]]},{"id":"89edc1c2.b978","type":"ibmiot out","z":"2d9a81b9.0077be","authentication":"apiKey","apiKey":"4c29d0b4.b06f","outputType":"evt","deviceId":"VacuumGripperMunich_2","deviceType":"Communication","eventCommandType":"event","format":"json","data":"{}","qos":0,"name":"VacuumGripperMunich_2","service":"registered","x":1150,"y":380,"wires":[]},{"id":"77527866.553aa8","type":"ibmiot out","z":"2d9a81b9.0077be","authentication":"apiKey","apiKey":"4c29d0b4.b06f","outputType":"evt","deviceId":"WarehouseMunich_2","deviceType":"Communication","eventCommandType":"event","format":"json","data":"{}","qos":0,"name":"WarehouseMunich_2","service":"registered","x":1140,"y":340,"wires":[]},{"id":"b604d270.e4168","type":"serial in","z":"2d9a81b9.0077be","name":"","serial":"c7c83ef0.7de4c","x":110,"y":460,"wires":[["86a3c7dd.1ca098"]]},{"id":"581ac5cd.fa1d6c","type":"link out","z":"2d9a81b9.0077be","name":"Pressure_Sensor","links":["d1e0c600.bb1888"],"x":750,"y":500,"wires":[],"l":true},{"id":"212ef813.66d9b8","type":"debug","z":"2d9a81b9.0077be","name":"Pressure Sensor","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":420,"wires":[]},{"id":"436cec7c.ef5e24","type":"change","z":"2d9a81b9.0077be","name":"Store Port","rules":[{"t":"set","p":"port.pressure_sensor","pt":"global","to":"port","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":420,"wires":[["212ef813.66d9b8"]]},{"id":"abc494d1.01e4e8","type":"debug","z":"2d9a81b9.0077be","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":330,"y":380,"wires":[]},{"id":"61636669.6b8a48","type":"ibmiot out","z":"2d9a81b9.0077be","authentication":"apiKey","apiKey":"4c29d0b4.b06f","outputType":"evt","deviceId":"Pressure_Sensor","deviceType":"Communication","eventCommandType":"event","format":"json","data":"{}","qos":0,"name":"Pressure_Sensor","service":"registered","x":1130,"y":420,"wires":[]},{"id":"eb2f4d47.cad36","type":"serial out","z":"2d9a81b9.0077be","name":"","serial":"c7c83ef0.7de4c","x":1270,"y":1300,"wires":[]},{"id":"54f5ebc2.5e35d4","type":"switch","z":"2d9a81b9.0077be","name":"Commands for WarehouseMunich_2","property":"deviceId","propertyType":"msg","rules":[{"t":"eq","v":"WarehouseMunich_2","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":1140,"wires":[["4015a19f.425c4"]]},{"id":"4015a19f.425c4","type":"switch","z":"2d9a81b9.0077be","name":"Select Port","property":"port.warehouse2","propertyType":"global","rules":[{"t":"cont","v":"/dev/ttyACM0","vt":"str"},{"t":"eq","v":"/dev/ttyACM1","vt":"str"},{"t":"eq","v":"/dev/ttyACM2","vt":"str"},{"t":"eq","v":"/dev/ttyUSB0","vt":"str"},{"t":"eq","v":"/dev/ttyUSB1","vt":"str"},{"t":"eq","v":"/dev/ttyUSB2","vt":"str"},{"t":"eq","v":"/dev/ttyUSB3","vt":"str"},{"t":"eq","v":"/dev/ttyUSB4","vt":"str"}],"checkall":"true","repair":false,"outputs":8,"x":710,"y":1140,"wires":[["823022a9.191ea"],["3ab605d6.03c43a"],["5bb5adc7.0bf834"],["9996e7f1.9167f8"],["eb421e52.d7288"],["96cf35c8.a11b38"],["eb2f4d47.cad36"],["6bdb7f35.c15bf"]]},{"id":"b06a8855.6052f8","type":"serial out","z":"2d9a81b9.0077be","name":"VSG_HRL","serial":"3fb09401.ce096c","x":1270,"y":1660,"wires":[]},{"id":"465d4b80.06f104","type":"inject","z":"2d9a81b9.0077be","name":"Command: 22","topic":"","payload":"{\"controller\":8,\"subadress\":0,\"timestamp\":1351824120,\"command\":22}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":1050,"y":1700,"wires":[["b06a8855.6052f8"]]},{"id":"a5ebe0a8.12c52","type":"inject","z":"2d9a81b9.0077be","name":"Command: 102","topic":"","payload":"{\"controller\":8,\"subadress\":0,\"timestamp\":1351824120,\"command\":102}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":1060,"y":1740,"wires":[["b06a8855.6052f8"]]},{"id":"75f4132d.0f9dec","type":"inject","z":"2d9a81b9.0077be","name":"Command: 21","topic":"","payload":"{\"controller\":8,\"subadress\":0,\"timestamp\":1351824120,\"command\":21}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":1050,"y":1660,"wires":[["b06a8855.6052f8"]]},{"id":"df48ae1e.cf225","type":"inject","z":"2d9a81b9.0077be","name":"Command: 1","topic":"","payload":"{\"controller\":8,\"subadress\":0,\"timestamp\":1351824120,\"command\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":1050,"y":1620,"wires":[["b06a8855.6052f8"]]},{"id":"578d17fb.0c7228","type":"inject","z":"2d9a81b9.0077be","name":"Command: 0","topic":"","payload":"{\"controller\":8,\"subadress\":0,\"timestamp\":1351824120,\"command\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":1050,"y":1580,"wires":[["b06a8855.6052f8"]]},{"id":"f8362698.7b0e88","type":"switch","z":"2d9a81b9.0077be","name":"Commands for Vaccum Gripper 2","property":"deviceId","propertyType":"msg","rules":[{"t":"eq","v":"VacuumGripperMunich_2","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":420,"y":1420,"wires":[["442fbbc2.0a1864"]]},{"id":"42287ade.1a8bd4","type":"switch","z":"2d9a81b9.0077be","name":"Commands for Vacuum Gripper 1","property":"deviceId","propertyType":"msg","rules":[{"t":"eq","v":"VacuumGripperMunich_1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":420,"y":1280,"wires":[["a0b67941.ce7e68"]]},{"id":"442fbbc2.0a1864","type":"switch","z":"2d9a81b9.0077be","name":"Select Port","property":"port.vacuumgripper2","propertyType":"global","rules":[{"t":"cont","v":"/dev/ttyACM0","vt":"str"},{"t":"eq","v":"/dev/ttyACM1","vt":"str"},{"t":"eq","v":"/dev/ttyACM2","vt":"str"},{"t":"eq","v":"/dev/ttyUSB0","vt":"str"},{"t":"eq","v":"/dev/ttyUSB1","vt":"str"},{"t":"eq","v":"/dev/ttyUSB2","vt":"str"},{"t":"eq","v":"/dev/ttyUSB3","vt":"str"},{"t":"eq","v":"/dev/ttyUSB4","vt":"str"}],"checkall":"true","repair":false,"outputs":8,"x":710,"y":1420,"wires":[["823022a9.191ea"],["3ab605d6.03c43a"],["5bb5adc7.0bf834"],["9996e7f1.9167f8"],["eb421e52.d7288"],["96cf35c8.a11b38"],["eb2f4d47.cad36"],["6bdb7f35.c15bf"]]},{"id":"a0b67941.ce7e68","type":"switch","z":"2d9a81b9.0077be","name":"Select Port","property":"port.vacuumgripper1","propertyType":"global","rules":[{"t":"cont","v":"/dev/ttyACM0","vt":"str"},{"t":"eq","v":"/dev/ttyACM1","vt":"str"},{"t":"eq","v":"/dev/ttyACM2","vt":"str"},{"t":"eq","v":"/dev/ttyUSB0","vt":"str"},{"t":"eq","v":"/dev/ttyUSB1","vt":"str"},{"t":"eq","v":"/dev/ttyUSB2","vt":"str"},{"t":"eq","v":"/dev/ttyUSB3","vt":"str"},{"t":"eq","v":"/dev/ttyUSB4","vt":"str"}],"checkall":"true","repair":false,"outputs":8,"x":710,"y":1280,"wires":[["823022a9.191ea"],["3ab605d6.03c43a"],["5bb5adc7.0bf834"],["9996e7f1.9167f8"],["eb421e52.d7288"],["96cf35c8.a11b38"],["eb2f4d47.cad36"],["6bdb7f35.c15bf"]]},{"id":"fb8951f8.3135d","type":"switch","z":"2d9a81b9.0077be","name":"Commands for Processing Station","property":"deviceId","propertyType":"msg","rules":[{"t":"eq","v":"Processing_Station_Munich","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":420,"y":860,"wires":[["90fe6ddb.55f2d"]]},{"id":"28e62f3c.d72bc","type":"serial in","z":"2d9a81b9.0077be","name":"","serial":"e8850fc9.74bb8","x":110,"y":520,"wires":[["86a3c7dd.1ca098"]]},{"id":"6bdb7f35.c15bf","type":"serial out","z":"2d9a81b9.0077be","name":"","serial":"e8850fc9.74bb8","x":1270,"y":1360,"wires":[]}]